.products.products_top
  .product.product_othello
    %a{href:'tops/othello', target:'blank', rel:'noopener noreferrer'}
      .product_icon#othello
        %i.fab.fa-delicious
    %p.product_name OTHELLO
  .product.product_line
    %a{href:'http://kanecoma.wp.xdomain.jp/', target:'blank', rel:'noopener noreferrer'}
      .product_icon#line
        %i.fab.fa-line
    %p.product_name LINE STAMP
  .product.product_furima
    %a{href:'http://54.168.66.180/', target:'blank', rel:'noopener noreferrer'}
      .product_icon#furima
        %i.fas.fa-box-open
    %p.product_name FURIMA
  .product.product_portfolio
    %a{href:'http://18.178.190.18/', target:'blank', rel:'noopener noreferrer'}
      .product_icon#portfolio
        %i.fas.fa-portrait
    %p.product_name PORTFOLIO
.products.products_bottom
  .products_bottom_othello 
    %p<> オリジナルのアルゴリズムで作ったオセロゲーム
    %p<> 初めて作った制作物です
  .products_bottom_line
    %p<> 桜パソコンスクール卒業制作
    %p<> WordPressで作ったオリジナルLINEスタンプの紹介ページ
  .products_bottom_furima
    %p<> TECH CAMPの最終課題で共同開発したフリマアプリ
    %p<> ログイン・新規登録ページ、商品検索ページのフロントエンド・バックエンドを担当しました
    %p<> ID：admin Pass：73c
  .products_bottom_portfolio
    %p<> 自己紹介を兼ねたポートフォリオ
    %p<> スクロールとアニメーションを連動させました
    %p<> JSライブラリTweenMaxとScrollMagic使用
