.products.products_top
  .product.product_othello
    %a{href:'tops/othello', target:'blank', rel:'noopener noreferrer'}
      .product_icon#othello
        %i.fas.fa-th-large
    %p.product_name OTHELLO
  .product.product_line
    %a{href:'http://kanecoma.wp.xdomain.jp/', target:'blank', rel:'noopener noreferrer'}
      .product_icon#line
        %i.fab.fa-line
    %p.product_name LINE STAMP
  .product.product_furima
    %a{href:'http://54.168.66.180/', target:'blank', rel:'noopener noreferrer'}
      .product_icon#furima
        %i.fas.fa-box-open
    %p.product_name FURIMA