.skills.skills_top
  .skill.skill_triangle
    .skill_icon#triangle
      .triangle
      .triangle_mini
    %p.skill_name Triangle
  .skill.skill_cymb
    .skill_icon#cymb
      .cymb1
        .cymb2
          .cymbSpace
    %p.skill_name Cymbals

  .skill.skill_drum
    .skill_icon#drum
      %i.fas.fa-drum
    %p.skill_name Drums
  .skill.skill_html
    .skill_icon#html
      %i.fab.fa-html5
    %p.skill_name HTML
  .skill.skill_css
    .skill_icon#css
      %i.fab.fa-css3-alt
    %p.skill_name CSS
  .skill.skill_js
    .skill_icon#js
      %p JS
    %p.skill_name JavaScript
  .skill.skill_ruby
    .skill_icon#ruby
      %i.far.fa-gem
    %p.skill_name Ruby
  .skill.skill_rails
    .skill_icon#rails
      .circle
        .circle_mini
    %p.skill_name Rails
  .skill.skill_mysql
    .skill_icon#mysql
      .db_circles
        .db_circles_circle1.db_circles_circle
        .db_circles_circle2.db_circles_circle
        .db_circles_circle3.db_circles_circle
    %p.skill_name MySQL

.skills.skills_middle
  .skill.skill_aws
    .skill_icon#aws
      %i.fab.fa-aws
    %p.skill_name AWS
  .skill.skill_gh
    .skill_icon#gh
      %i.fa.fa-github
    %p.skill_name GitHub
  .skill.skill_wp
    .skill_icon#wp
      %i.fab.fa-wordpress-simple
    %p.skill_name WordPress
  .skill.skill_ps
    .skill_icon#ps
      %p Ps
    %p.skill_name Photoshop
  .skill.skill_pscc
    .skill_icon#pscc
      %p Ps
    %p.skill_name Photoshop
  .skill.skill_ai
    .skill_icon#ai
      %p Ai
    %p.skill_name Illustrator
  .skill.skill_aicc
    .skill_icon#aicc
      %p Ai
    %p.skill_name Illustrator
  .skill.skill_fl
    .skill_icon#fl
      %p Fl
    %p.skill_name Flash

.skills.skills_bottom
  .skill.skill_bolt.skill_impact
    .skill_icon#impact
      %i.fas.fa-bolt
    %p.skill_name  Impact
  .skill.skill_bolt.skill_sander
    .skill_icon#sander
      %i.fas.fa-bolt
    %p.skill_name  Sander
  .skill.skill_bolt.skill_jigsaw
    .skill_icon#jigsaw
      %i.fas.fa-bolt
    %p.skill_name  Jigsaw
  .skill.skill_bolt.skill_hammerdrill
    .skill_icon#hammerdrill
      %i.fas.fa-bolt
    %p.skill_name  HammerDrill
  .skill.skill_bolt.skill_sabersaw
    .skill_icon#sabersaw
      %i.fas.fa-bolt
    %p.skill_name  SaberSaw
