.skills
  .skill
    .skill_icon#html
      %p 5
    %p HTML
  .skill
    .skill_icon#css
      %p 3
    %p CSS
  .skill
    .skill_icon#js
      %p JS
    %p JavaScript
  .skill
    .skill_icon#ps
      %p Ps
    %p Photoshop
  .skill
    .skill_icon#ai
      %p Ai
    %p Illustrator
