.top_main
  .darkmode
    %p.darkmode_name DARK MODE
    .darkmode_switch
      .darkmode_switch_button
  .top_main_upper
    .top_main_upper_title
      .portfolio
        .energyBall.energyBall_left
        %h1<> P
        %h1.portfolio_left_o<> O
        %h1<> RTF
        %h1.portfolio_middle_o<> O
        %h1<> LI
        %h1.portfolio_right_o<> O
        .energyBall.energyBall_right
        .energyBall.energyBall_middle
          .energyBeam
      %p#titleName MASAYA KANEKO
    .top_main_upper_skills
      .top_main_upper_skills_box
        %h2 SKILLS
        = render partial: 'skills'
        .ball
          %h3 HELLO
          %h3 SCROLL ME!
        
  .top_main_middle
    .top_main_middle_history
      %h2 HISTORY
      .top_main_middle_history_boxs
        .history_box.history_box1
          %p.history_box_title HIGH SCHOOL
          %ol
            %li 
              %h3 吹奏楽部
            %li パーカッションパート パートリーダー
            %li 第７回東日本学校吹奏楽大会フェスティバル部門
            %li 主管支部理事長賞 バンドジャーナル賞
        .history_box.history_box2
          %p.history_box_title UNIVERSITY
          %ol
            %li 
              %h3 ゼミ活動
            %li Adobeソフトを使った2Dデザイン製作活動
            %li 卒業制作：ベストバリュー作品表彰
            %li 資格：MOS Word2007 MOS Excel2007
        .history_box.history_box3
          %p.history_box_title PREVIOUS JOB
          %ol
            %li 
              %h3 ダクト工
            %li 空調設備取り付け・ダクトの配管作業
            %li あらゆる電動工具が使えるようになりました！
            %li 資格：高所作業車運転者
        .history_box.history_box4
          %p.history_box_title COMMUNITY
          %ol
            %li 
              %h3 オフ会
            %li ゲーム・日本酒・ボドゲ等を扱うオフ会に参加
            %li たくさんの方と交流し視野が広がる
            %li 協力：イベント宣伝用のイラスト・LINEスタンプ
        .history_box.history_box5
          %p.history_box_title JOB TRAINING
          %ol
            %li 
              %h3 桜パソコンスクール
            %li Photoshop・サクラエディタ・WordPressの学習
            %li 同期生全員の学習意欲が高くとても良い刺激になった
            %li TECH CAMPで学んだHTML・CSSの知識が更に深まる
            %li 資格：ウェブデザイン技能検定3級
        .history_box.history_box6
          %p.history_box_title PROGRAMMING SCHOOL
          %ol
            %li 
              %h3 TECH CAMP夜間転職コース
            %li Ruby on Railsを使った学習・同期生との共同開発
            %li 環境：Mac/VSCode/Ruby on rails/AWS
            %li 言語：HTML・Haml・CSS・SCSS・Ruby・JS
            %li ツール：GitHub・Slack
    .top_main_middle_products
      .top_main_middle_products_box
        %h2 PRODUCTS


