.top_main
  .top_main_upper
    .top_main_upper_title
      %h1 PORTFOLIO
      %h1 MASAYA KANEKO
    .top_main_upper_skills
      %h2 SKILLS
      .top_main_upper_skills_box
  .top_main_middle
    .top_main_middle_history
      %h2 HISTORY
      .top_main_middle_history_boxs
        .history_box.history_box1
          %h3 吹奏楽部
        .history_box.history_box2
          %h3 ゼミ活動
        .history_box.history_box3
          %h3 ダクト工
        .history_box.history_box4
          %h3 オフ会
        .history_box.history_box5
          %h3 プログラミングスクール
        .history_box.history_box6
          %h3 職業訓練
    .top_main_middle_products
      %h2 PRODUCTS
      .top_main_middle_products_box


