.top_main
  .darkmode
    %p.darkmode_name DARK MODE
    .darkmode_switch
      .darkmode_switch_button
  .top_main_upper
    .top_main_upper_title
      .portfolio
        .energyBall.energyBall_left
        %h1<> P
        %h1.portfolio_left_o<> O
        %h1<> RTF
        %h1.portfolio_middle_o<> O
        %h1<> LI
        %h1.portfolio_right_o<> O
        .energyBall.energyBall_right
        .energyBall.energyBall_middle
          .energyBeam
      %p#titleName MASAYA KANEKO
    .top_main_upper_skills
      .top_main_upper_skills_box
        %h2 SKILLS
        = render partial: 'skills'
        .ball
          %h3 HELLO
          %h3 SCROLL ME!
  .top_main_middle
    .top_main_middle_history
      %h2 HISTORY
      .top_main_middle_history_boxs
        .history_box.history_box1
          %p.history_box_title HIGH SCHOOL
          %ol
            %li 
              %h3 吹奏楽部
            %li パーカッションパート パートリーダー
            %li 出場：第７回東日本学校吹奏楽大会フェスティバル部門
            %li 受賞：主管支部理事長賞＆バンドジャーナル賞　
        .history_box.history_box2
          %p.history_box_title UNIVERSITY
          %ol
            %li 
              %h3 文京学院大学(2008年4月〜2012年2月)
            %li ゼミ：Adobeソフトを使った2Dデザイン製作活動
            %li 受賞：ベストバリュー作品表彰（卒業制作）
            %li 資格：MOS Word2007 MOS Excel2007
            %li サークル活動：軽音同好会
        .history_box.history_box3
          %p.history_box_title PREVIOUS JOB
          %ol
            %li 
              %h3 ダクト工(2015年1月〜2019年9月)
            %li 業務：空調設備取り付け・ダクトの配管作業
            %li 解体・切削・高所作業等の危険作業の中でたくましくなる
            %li あらゆる電動工具が使えるようになる
            %li 資格：高所作業車運転者

        .history_box.history_box4
          %p.history_box_title COMMUNITY
          %ol
            %li 
              %h3 オフ会(2018年7月〜現在)
            %li ゲーム・日本酒・ボドゲ等を扱う方のオフ会に参加
            %li 参加者の影響でプログラミングに興味を持ちはじめる
            %li イベントの際に宣伝用のイラスト・LINEスタンプを制作
        .history_box.history_box5
          %p.history_box_title JOB TRAINING
          %ol
            %li 
              %h3 桜パソコンスクール(2020年5月〜8月)
            %li 学習：Photoshop・サクラエディタ・WordPress
            %li TECH CAMPで先に学んだコーディングの知識が更に深まる
            %li 生徒全員の学習意欲が高くとても良い刺激になった
            %li 資格：ウェブデザイン技能検定3級
        .history_box.history_box6
          %p.history_box_title PROGRAMMING SCHOOL
          %ol
            %li 
              %h3 TECH CAMP夜間休日(2020年3月〜9月)
            %li Ruby on Railsを使った学習・同期生との共同開発
            %li 環境：Mac/VSCode/Ruby on rails/AWS
            %li 言語：HTML・Haml・CSS・SCSS・Ruby・JS
            %li ツール：GitHub・Slack
    .top_main_middle_products
      .top_main_middle_products_box
        %h2 PRODUCTS
        = render partial: 'products'


