.top_main
  .top_main_upper
    .top_main_upper_title
      %h1 PORTFOLIO
      %h1 MASAYA KANEKO
    .top_main_upper_skills
      .top_main_upper_skills_box
        %h2 SKILLS
  .top_main_middle
    .top_main_middle_history
      %h2 HISTORY
      .top_main_middle_history_boxs
        .history_box.history_box1
          %p 吹奏楽部
        .history_box.history_box2
          %p ゼミ活動
        .history_box.history_box3
          %p ダクト工
        .history_box.history_box4
          %p オフ会
        .history_box.history_box5
          %p プログラミングスクール
        .history_box.history_box6
          %p 職業訓練
    .top_main_middle_products
      .top_main_middle_products_box
        %h2 PRODUCTS


