*{
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  list-style: none;
}
.top_main{
  width: 100%;
  &_upper{
    position:fixed;
    height: 300px;
    background-color:#0bf;
    left: 0;
    right: 0;
    z-index: 10;
    padding-top: 100px;
    &_title{
      margin-bottom: 30px;
    }
    &_skills{
      h2{
        background-color: #0bf;
        display: inline-block;
        padding: 0 1em;
        position: relative;
        top: 0.8em;
      }
      &_box{
        background-color: #0bf;
        border: 3px solid #fff;
        border-radius: 20px;
        height: 150px;
        width: 420px;
      }
    }
  }

  &_middle{
    padding-top:500px;
    height:5160px;
    background-color: #0bf;
    &_history{
      width: 420px;
      h2{
        margin-top: 300px;
        background-color: #0bf;
        display: inline-block;
      }
      &_boxs{
        .history_box{
          margin-top: 500px;
          border: 3px solid #fff;
          border-radius: 20px;
          height: 150px;
          width: 420px;
          h3{
            align-items: center;
            background-color: #0bf;
            display: inline-block;
            padding: 0 1em;
            position: relative;
            bottom: 0.8em;
          }
        }
      }
    }
    &_products{
      margin-top: 200px;
      h2{
        background-color: #0bf;
        display: inline-block;
        padding: 0 1em;
        position: relative;
        top: 0.8em;
      }
      &_box{
        border: 3px solid #fff;
        border-radius: 20px;
        height: 150px;
        width: 420px;
      }
    }
  }
  h1,h2,h3{
    color: #fff;
  }
  h2{
    font-size: 1.3em;
  }
  h3{
    font-size: 1em;
  }
}



