*{
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  list-style: none;
  color: #fff;
  font-family:'arial',sans-serif;
}

.top_main{
  width: 100%;
  height: 100%;
  background-color: #0bf;
  &_upper{
    padding-top: 140px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    &_title{
      margin-top:52px;
      margin-bottom: 10px;
    }
    &_skills{
      display: inline-block;
      width: 400px;
      margin-top: 30px;
      h2{
        border-radius:4px;
        padding:0 10px;
        position: relative;
        bottom: 16px;
      }
      &_box{
        background-color: #0bf;
        border: 5px solid #fff;
        border-radius: 20px;
        height: 160px;
        width: 400px;
      }
    }
  }

  &_middle{
    padding-top: 500px;
    &_history{
      padding-top: 380px;
      h2{
        margin-top: 300px;
      }
      &_boxs{
        .history_box{
          margin-top: 1500px;
          border: 5px solid #fff;
          border-radius: 20px;
          height: 160px;
          width: 400px;
          &_title{
            border-radius:4px;
            padding:0 10px;
            position: relative;
            bottom: 14px;
          }
        }
      }
    }
    &_products{
      &_box{
        margin-top: 1500px;
        background-color: #0bf;
        border: 5px solid #fff;
        border-radius: 20px;
        height: 160px;
        width: 400px;
        h2{
          border-radius:4px;
          padding:0 10px;
          position: relative;
          bottom: 16px;
        }
      }
    }
  }
  .masayakaneko{
    line-height: 30px;
    font-size: 30px;
    font-family:"arial-black",sans-serif;
  }
  .portfolio{
    line-height: 60px;
    font-size: 60px;
    font-family:"arial-black",sans-serif;
  }
  h2{
    font-size: 24px;
    background-color: #0bf;
    display: inline-block;
    line-height:24px;
    font-family:"arial-black",sans-serif;
  }
  .history_box_title{
    font-size: 22px;
    background-color: #0bf;
    display: inline-block;
    line-height: 22px;
    font-weight: bold;
    font-family: "arial-black",sans-serif;
  }
  ol{
    background-color: #0bf;
    font-size: 14px;
    display: inline-block;
    li{
      text-align: center;
    }
  }
}

.skills{
  position: relative;
  bottom: 10px;
  display:flex;
  justify-content: flex-start;
  font-family:'impact',sans-serif;
  .skill{
    opacity: 0.1;
    display: none;
    &_icon{
      box-sizing: border-box;
      display: inline-block;
      border-radius: 4px;
      text-align: center;
      align-items: center;
      line-height: 44px;
      width: 50px;
      height: 50px;
      background-color: #0bf;
      color: #fff;
      font-weight: bold;
      font-size: 24px;
      p{
        font-family:'impact',sans-serif;
      }
    }
    &_name{
      font-size: 10px;
      font-weight: bold;
    }
  }
}
.skills_top{
  margin-bottom: 8px;
}
#ps,#ai,#fl{
  border: 3px solid #fff;
  p{
    font-size: 22px;
  }
}
#aws p{
  display: inline-block;
  font-size: 20px;
  padding-bottom: 4px;
}
#html,#css,#js,#ruby,#rails,#mysql,#wp,#aws{
  background-color: #fff;
  border: 3px solid #fff;
  display: flex;
  align-items: center;
  p{
    color: #0bf;
  }
  .wp_circle{
    font-size: 20px;
    height: 28px;
    width: 28px;
    border: 3px solid #0bf;
    border-radius: 50%;
    background-color: #fff;
    line-height: 24px;

  }
  .pentagon{
    display: inline-block;
    height: 21px;
    &_top{
      width: 26px;
      border-width: 0px 8px 8px;
      border-style: solid;
      border-color: #0bf transparent;
    }
    &_bottom{
      width: 0;
      height: 0;
      border-top: 13px solid #0bf;
      border-right: 13px solid transparent;
      border-bottom: 13px solid transparent;
      border-left: 13px solid transparent;
    }
  }
  .circle{
    display: inline-block;
    position: relative;
    left: 3px;
    width: 43px;
    height: 26px;
    border-radius: 50% / 100% 100% 0 0;
    background-color: #0bf;
    transform: scale(0.8);
    &_mini{
      position: relative;
      top: 2px;
      left: 6px;
      width: 34px;
      height: 34px;
      border-radius: 100% / 100% 100% 100% 100%;
      background-color: #fff;
    }
  }
  .db_circles{
    display: inline-block;
    &_circle{
      width: 28px;
      height: 16px;
      border-radius:50% 50% 50% 50%/ 40% 40% 40% 40%; 
      border: 3px solid #fff;
      background-color: #0bf;
    }
    &_circle1{
      position: relative;
      top: 24px;
    }
    &_circle2{
      position: relative;
      top: 0px;
    }
    &_circle3{
      position: relative;
      bottom: 24px;
    }
  }
}




